@import "tailwindcss";

html, body {
  background-color: white; 
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.motion-wrapper {
  background-color: white; 
  width: 100%;
  min-height: 100vh;
  position: relative;
  will-change: transform, opacity;
}

